/* General Page Styling */
/* Reset margin and padding for the body and html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure full height of the viewport */
    overflow: hidden; /* Prevent scrolling */
}

/* Add Flexbox layout for the body */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: #3e5596;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;  /* Ensure the logo stays on top */
}

header img {
    width: 200px;  /* Adjust the size of the logo */
    height: auto;
}

.unsupported-browser-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffcccb;
    color: #000;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

h1 {
    font-weight: 800;
    color: #3e5596;
    text-align: center;
}

#notSupported {
    background-color: red;
    color: white;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    display: none;
}

/* Buttons Styling */
button {
    font-family: 'Open Sans', sans-serif;
    background-color: #3e5596;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #4b76ce;
}

#connectButton {
    background-color: red;
    color: white;
    transition: background-color 0.3s ease;
}

#bufferSize {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #3e5596;
    border-radius: 5px;
    text-align: center;
}
#bufferSize:focus {
    outline: none;
    border-color: #4b76ce;
    box-shadow: 0 0 5px rgba(75, 118, 206, 0.5);
}


.modebar-btn {
    font-size: 24px;  /* Increase button font size */
    padding: 10px;     /* Adjust padding around buttons */
    color: #26488c;
}

/* Change the hover state of modebar buttons */
.modebar-btn:hover {
    background-color: #4b76ce;
}

/* Plot Styling */
#plot {
    flex-grow: 1;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    margin-bottom: 20px;
}

/* Layout Styling */
.buttons-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
}

.right-aligned {
    margin-left: auto; /* Pushes this button to the right */
}

footer {
    background-color: #1F1F1F;
    color: #777777;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Align left and right */
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.footer-left {
    font-size: 14px;
}

.footer-right {
    font-size: 18px;
}

/* Social Media Icons */
.footer-right a {
    color: #777777;
    margin: 0 10px;
    text-decoration: none;
}

.footer-right a:hover {
    color: white;  /* Green color on hover */
}

/* Styling for social media icons */
.footer-right i {
    font-size: 20px;
}

/* General Dropdown Styling */
select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #3e5596;
    border-radius: 5px;
    background-color: white;
    color: #3e5596;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

select:focus {
    outline: none;
    border-color: #4b76ce;
    box-shadow: 0 0 5px rgba(75, 118, 206, 0.5);
    background-color: #eaf1fc;
}

select:hover {
    border-color: #4b76ce;
    background-color: #eaf1fc;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow-y: auto;
}

.modal-content {
    margin: 5% auto;
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
}

h2 {
    text-align: center;
    color: #3e5596;
    margin-bottom: 20px;
}

/* Product Grid Styles */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-tile {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-tile img {
    max-width: 100%;
    border-radius: 8px;
}

.product-tile h3 {
    margin: 10px 0;
    color: #3e5596;
}

.product-tile p {
    color: #777;
    font-size: 14px;
}

.product-tile a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #3e5596;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.product-tile:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.product-tile a:hover {
    background-color: #4b76ce;
}

/* Styling for the active product tile */
.product-tile.active {
    outline: 3px solid #3e5596; /* Adds a blue outline */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Slightly more pronounced shadow for the active tile */
}