:root {
  --background-primary: #fff;
  --background-secondary: #fff;
  --on-background-primary: #000;
  --on-background-secondary: #000;
  --primary: #26488b;
  --on-primary: #fff;
  --secondary: #000;
  --on-secondary: #151515;
  --tertiary: #000;
  --on-tertiary: #222;
}
